<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{viewTitle}}</h1>
    <p>{{email}}</p>
    <a href="/student">Add</a>
    <a href="/logout">logout</a>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Email</th>
                <th>Contactno</th>
                <th>Gender</th>
                <th>City</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each list}}
            <tr>
                <td>{{this.Name}}</td>
                <td>
                    <img src="/images/{{this.pic}}" height="200px" width="200px" alt="no" />
                </td>
                <td>{{this.Email}}</td>
                <td>{{this.Contactno}}</td>
                <td>{{this.Gender}}</td>
                <td>{{this.City}}</td>
                <td><a href="/student/edit/{{this._id}}">Edit</a></td>
                <td><a href="/student/delete/{{this._id}}">Delete</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>